#nouveautes{
    text-align: center;
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
}
h2{
    text-align: center;
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
}
#valeurs{
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 0.5em;
    padding: 0;
}
.cgv{
    text-align: center;
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
}