#photo{  
    margin-left: 25em;
}
#descriptif{
    text-align: center;
}
#prix{
    border: 2px solid red;
    display: inline-block;
    color: red;
    font-size: 4em;
    position: absolute;
    margin-left: 1.5em;
    margin-top: 1.5em;
    border-radius: 10px;
}