html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

article {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}

#nav-footer {
    position: absolute;
    background: rgba(142, 168, 24, 0.644);
    width: 100%;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

#address {
    margin-top: 15px;
}

nav ul {
    text-align: center;
    background-color: rgba(79, 99, 7, 0.596);
    height: 3em;
    margin: 0;
}

.catalogue {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
    margin-top: 9px;
}

.menus {
    color: white;
    font-family: 'Dancing Script', cursive;
    background-color: #44641086;
    border: 2px solid #6f94199d;
    border-radius: 10px;
    text-decoration: none;
    font-size: 150%;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.1em;
}

header {
    height: 18em;
    background-color: rgba(204, 204, 153, 0.5);
}

#logo {
    display: inline-block;
    width: 6em;
    height: 10em;
    margin-top: 2em;
    margin-left: 10em;
}

#marque {
    display: inline-block;
    font: bold;
    margin-left: 30%;
    margin-bottom: 15%;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#retour {
    text-decoration: none;
    color: black;
}

form {
    text-align: center;
}

fieldset {
    height: 16em;
    background-color: #3f641c5d;
    border-radius: 10px;
}

form label,
form input {
    width: 5em;
    text-align: center;
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

legend {
    font-weight: bold;
}

#photo {
    margin-left: 25em;
}

#descriptif {
    text-align: center;
}

.fichearticle {
    display: grid;
    grid-template-columns: 25% 15% 10% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 10px;
    border: 8px solid #d6d6c2;
    border-radius: 50px;
    background-color: #ffffff;
    margin: 2rem;
    height: 50em;
    box-sizing: border-box;
}

.detailproduit {
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.titrearticle {
    grid-column: 2 / 5;
    grid-row: 1 / 1;
    justify-self: stretch;
    align-self: center;
    font-size: 5em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
}

.descriptionarticle {
    grid-column: 2/5;
    grid-row: 2/4;
    font-size: 1.5em;
    margin-left: 15px;
}

.article {
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: stretch;
    align-self: stretch;
}

.article img {
    height: 30rem;
    width: 20rem;
}

.prix {
    grid-column: 5/6;
    grid-row: 2/4;
    color: #99ccff;
    font-size: 5em;
    padding: 0;
    text-align: center;
}

.form {
    grid-column: 2/5;
    grid-row: 4/5;
}

#nouveautes {
    text-align: center;
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    color: white;
}



#valeurs {
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 0.5em;
    padding: 0;
    padding-bottom: 5em;
    color: white;
}

#valeur {
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 3.5em;
}

#cgv {
    text-align: center;
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
}

#cgvp {
    text-align: justify;
    padding: 1em;
}

table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    background-color: rgba(102, 102, 51, 0.8);
    color: white;
}

#ordertitle,
#totalorder {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: rgba(102, 102, 51, 0.8);
    width: 10%;
    border: 1px solid black;
    position: relative;
    left: 46%;
    margin-bottom: 10px;
    margin-top: 10px;

}

#confirm-order {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: rgba(102, 102, 51, 0.8);
    width: 40%;
    border: 1px solid black;
    left: 46%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    padding-top: 5%;
}

#order {
    margin-left: 2%;
}

tr,
td {
    border: 1px solid black;
    padding: 5px;
}

#cartform {
    margin-bottom: 15px;
}

button {
    border-radius: 10px;
}

#news {
    display: flex;
    justify-content: space-evenly;
}

.backparallax {
    background-image: url("../images/logo_site/newsvaleurs.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

#allcgv {
    background-color: rgba(102, 102, 51, 0.8);
    border: 10px solid #6f94199d;
    border-radius: 50px;
    margin: 40px;
    padding: 15px;
    margin-bottom: 0;
    color: white;
}

.wrap {
    height: 120px;
}

#nsvaleurs {
    background-color: rgba(102, 102, 51, 0.8);
    border: 10px solid #6f94199d;
    border-radius: 50px;
    margin: 40px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
}

@media (max-width: 2500px) {
    .detailproduit {
        margin-left: 1em;
    }
    .article img {
        height: 15em;
        width: 10em;
    }
    .fichearticle {
        padding: 10px;
        border: 8px solid #d6d6c2;
        border-radius: 50px;
        background-color: #ffffff;
        height: 40em;
        width: 40em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .descriptionarticle {
        font-size: 1.5em;
    }
}

@media (max-width: 992px) {
    #logo {
        display: none;
    }

    .descriptionarticle {
        margin-left: 6rem;
    }

    .article img {
        height: 200px;
        width: 120px;
    }
}

@media (max-width: 768px) {
    #logo {
        width: 50%;
    }

    header {
        display: none;
    }

    .descriptionarticle {
        margin-left: 150px;
    }
}